body{
    margin: 0px;
    padding: 0px;
}

.menu-bar{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 135, 164, 1);
    justify-content: center;

}

.menu-bar .ul{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 135, 164, 1);
    justify-content: center;
}

.menu-bar .ul li{
    margin-left: 28px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    width: 90px;
    list-style: none;
}

.menu-bar ul li:hover{
    background-color: #00c7d9;
}

