.li-sub{
    display: flex;
    flex-direction: row;
    width: 10rem;
    padding: 15px;
    /*border-bottom: 1px solid #fff;*/
    background: transparent;
    border-radius: 0;
    text-align: center;
    margin: 0px;

}